html {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  height: 100%;
  margin: 0;
  background-color: #2B303B;
}

#root {
  height: 100%;
}
